---
import { Image } from 'astro:assets'

import verifiedIcon from '../assets/verified.svg'
import botAvatar from '../assets/botAvatar.jpg'
import avatar from '../assets/avatar.jpg'

const { isSlashCommand, verified, program } = Astro.props;
---

<div class="discord-messages">

    {isSlashCommand ? 
        
        <div class="discord-message">
            <div class="reply-message">
                <div class="reply">
                    <div class="reply-avatar-container">
                        <Image src={avatar} alt="PowerPath" width="20" height="20" class="avatar" />
                    </div>
                    <div class="reply-message-content">
                        <div class="reply-message-author">
                            <span class="reply-author">
                                Obi-Wan Kenobi
                            </span>
                            used
                            <span class="commandBtn" data-tooltip="/open bundle:weapons-bundle">
                                <svg class="appsIcon_f9f2ca" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="M2.06 7.61c-.25.95.31 1.92 1.26 2.18l4.3 1.15c.94.25 1.91-.31 2.17-1.26l1.15-4.3c.25-.94-.31-1.91-1.26-2.17l-4.3-1.15c-.94-.25-1.91.31-2.17 1.26l-1.15 4.3ZM12.98 7.87a2 2 0 0 0 1.75 2.95H20a2 2 0 0 0 1.76-2.95l-2.63-4.83a2 2 0 0 0-3.51 0l-2.63 4.83ZM5.86 13.27a.89.89 0 0 1 1.28 0l.75.77a.9.9 0 0 0 .54.26l1.06.12c.5.06.85.52.8 1.02l-.13 1.08c-.02.2.03.42.14.6l.56.92c.27.43.14 1-.28 1.26l-.9.58a.92.92 0 0 0-.37.48l-.36 1.02a.9.9 0 0 1-1.15.57l-1-.36a.89.89 0 0 0-.6 0l-1 .36a.9.9 0 0 1-1.15-.57l-.36-1.02a.92.92 0 0 0-.37-.48l-.9-.58a.93.93 0 0 1-.28-1.26l.56-.93c.11-.17.16-.38.14-.59l-.12-1.08c-.06-.5.3-.96.8-1.02l1.05-.12a.9.9 0 0 0 .54-.26l.75-.77ZM18.52 13.71a1.1 1.1 0 0 0-2.04 0l-.46 1.24c-.19.5-.57.88-1.07 1.07l-1.24.46a1.1 1.1 0 0 0 0 2.04l1.24.46c.5.19.88.57 1.07 1.07l.46 1.24c.35.95 1.7.95 2.04 0l.46-1.24c.19-.5.57-.88 1.07-1.07l1.24-.46a1.1 1.1 0 0 0 0-2.04l-1.24-.46a1.8 1.8 0 0 1-1.07-1.07l-.46-1.24Z" class=""></path></svg>
                                <span>
                                    open
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="avatar-container">
                    <Image src={botAvatar} alt="PowerPath" width="40" height="40" class="avatar" />
                </div>
                <div class="message-content">
                    <div class="message-author">
                        <h3 class="author">
                            <span class="author-name">PowerPath</span>
                            <span class="bot-tag">
                                {verified ? <Image src={verifiedIcon} alt="Verified" width="15" height="15" class="icon" /> : null}
                                APP
                            </span>
                        </h3>
                    </div>
                    <div class="message-content-text">
                        Items obtained.
                    </div>
                </div>
            </div>
        </div>

    : 
        <div class="discord-message">
            <div class="message">
                <div class="avatar-container">
                    <Image src={avatar} alt="Obi-Wan Kenobi" width="40" height="40" class="avatar" />
                </div>
                <div class="message-content">
                    <div class="message-author">
                        <h3 class="author">
                            <span class="author-name">Obi-Wan Kenobi</span>
                        </h3>
                    </div>
                    <p class="message-content-text">
                        p!open weapons-bundle
                    </p>
                </div>
            </div>
        </div>
        <div class="discord-message">
            <div class="message">
                <div class="avatar-container">
                    <Image src={botAvatar} alt="PowerPath" width="40" height="40" class="avatar" />
                </div>
                <div class="message-content">
                    <div class="message-author">
                        <h3 class="author">
                            <span class="author-name">PowerPath</span>
                            <span class="bot-tag">
                                {verified ? <Image src={verifiedIcon} alt="Verified" width="15" height="15" class="icon" /> : null}
                                APP
                            </span>
                        </h3>
                    </div>
                    <div class="message-content-text">
                        Items obtained.
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<style>

    .discord-messages {
        border: 1px solid #313338;
        background-color: #313338;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .discord-message {
        padding: 0.5rem;
        margin-top: 0px !important;
        margin-bottom: 0.125rem !important;
    }

    .discord-message:hover {
        background-color: #252525d6;
    }

    .reply-avatar-container {
        display: grid;
        place-items: center;
    }

    .avatar {
        border-radius: 50%;
    }

    .reply-message {
        position: relative;
        margin-left: 50px;
        margin-bottom: -0.5rem;
    }

    .reply-message:before {
        --spine-width: 2px;
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        right: 100%;
        bottom: 0;
        left: calc(-1*(.5*50px + 0.5rem));
        margin-right: var(--reply-spacing, 0.5rem);
        margin-top: -1px;
        margin-top: calc(-.5*var(--spine-width));
        margin-left: -1px;
        margin-left: calc(-.5*var(--spine-width));
        margin-bottom: calc(-4px + 0.5rem);
        border-color: #7B7B7C;
        border-width: 2px 0 0 2px;
        border-width: var(--spine-width)0 0 var(--spine-width);
        border-style: solid;
        border-top-left-radius: 6px;
    }

    .reply {
        display: flex;
        align-items: center;
        gap: 0.125rem;
        font-size: 0.875rem;
        color: #fff;
    }

    .reply-avatar-container {
        width: var(--custom-message-avatar-size, 20px);
        height: var(--custom-message-avatar-size, 20px);
        border-radius: 50%;
    }

    .reply-message-content {
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        gap: 0.125rem;
        margin-left: 0.125rem;
    }

    .reply-message-author {
        color: #fff;
    }

    svg {
        display: inline-block !important;
    }

    .commandBtn {
        position: relative;
        font-weight: 500;
        color: var(--text-link);
        background-color: #353965;
        border-radius: 3px;
        padding: 0 2px;
        color: #6EC0F8;
        
    }

    .commandBtn:hover {
        background-color: #5865F2;
        color: #fff;
        cursor: default;
    }

    .commandBtn:hover:before {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #0D150E;
        color: #fff;
        padding: 0.25rem;
        border-radius: 3px;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: 500;
        z-index: 1;/* 40px height (20+20) */
    }

    .reply-author {
        color: #730000;
    }

    .reply-author:hover {
        cursor: default;
        text-decoration: underline;
    }

    .message {
        display: grid;
        grid-template-columns: .1fr 1.9fr;
        gap: 0.5rem;
        justify-content: start;
    }

    .message-content {
        margin-top: 0 !important;
    }

    .author {
        font-size: 1rem !important;
        color: #730000 !important;
        font-weight: 400 !important;
        cursor: default;
    }

    .author-name:hover {
        text-decoration: underline;
    }

    .bot-tag {
        background-color: #5865F2;
        color: #fff;
        font-size: 1rem !important;
        font-weight: 500;
        border-radius: 4px;
        padding: 0 0.275rem;
        height: 0.9375rem;
    }

    .embed-container {
        width: 100%;
        background-color: #2B2D31;
        border-radius: 3px;
        padding: 0.5rem;
        border-left: 5px solid #730000;
        margin-top: 0 !important;
    }

    .embed-title {
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }

    .embed-description {
        font-size: 0.875rem;
        color: #fff;
        margin-top: 0.25rem !important;
    }

    codeblock {
        font-family: monospace;
        background-color: #1E1F22;
        color: #fff;
        padding: 0.125rem 0.25rem;
        border-radius: 3px;
        font-size: 0.875rem;
    }
    
    .embed-field {
        margin-top: 0.25rem !important;
    }

    .embed-field-title {
        font-size: 0.875rem;
        font-weight: 500;
        color: #fff;
        margin-top: 0.05rem !important;
        margin-bottom: 0rem !important;
    }

    .embed-field-value {
        font-size: 0.875rem;
        margin: 0rem !important;
    }

    .embed-field-value p {
        margin: 0rem !important;
    }

    .message-content-text {
        font-size: 0.875rem;
        color: #fff;
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }


</style>